[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = VSCode Extension that adds additional tools for use with Gerrit Code Review
[access "refs/*"]
	owner = group user/Thomas Fike (ThomasFike)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Thomas Fike (ThomasFike)
	label-Verified = -1..+1 group user/Thomas Fike (ThomasFike)
	push = group user/Thomas Fike (ThomasFike)
	read = group user/Thomas Fike (ThomasFike)
	rebase = group user/Thomas Fike (ThomasFike)
	removeReviewer = group user/Thomas Fike (ThomasFike)
	submit = group user/Thomas Fike (ThomasFike)
[access "refs/heads/*"]
	create = group user/Thomas Fike (ThomasFike)
	push = +force group user/Thomas Fike (ThomasFike)
	pushMerge = group user/Thomas Fike (ThomasFike)
	read = group user/Thomas Fike (ThomasFike)
[access "refs/tags/*"]
	push = group user/Thomas Fike (ThomasFike)
	push = +force group user/Thomas Fike (ThomasFike)
